SECRET_KEY=your_django_secret_key_here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
ALLOWED_URLS=http://localhost,https://localhost,http://127.0.0.1,https://127.0.0.1
DB_NAME=green_basket
DB_USER=postgres
DB_PASSWORD=your_database_password_here
DB_HOST=localhost
DB_PORT=5432
SUPERUSER_EMAIL=superuser_email_here
SUPERUSER_PASSWORD=superuser_password_here
DJANGO_LOG_LEVEL=INFO