SECRET_KEY=your_django_secret_key_here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
ALLOWED_URLS=http://localhost,https://localhost,http://127.0.0.1,https://127.0.0.1
DB_NAME=green_basket
DB_USER=postgres
DB_PASSWORD=your_database_password_here
DB_HOST=db
DB_PORT=5432
DJANGO_LOG_LEVEL=INFO
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER=your_email_host_user_here
EMAIL_HOST_PASSWORD=your_email_host_password_here
